@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.Entities.Department

@{
    ViewBag.Title = "Add";
    Layout = "_Layout";
}

<h2>Form to add a new department</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Add" method="post">
            <div class="form_row">
                <label for="">
                    Name
                    <input asp-for="Name" type="text">
                </label>
                <span asp-validation-for="Name"></span>
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
</div>


