@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Domain.Enums
@model HRM.MVC.ViewModels.CreateUserViewModel

@{
    ViewBag.Title = "Add";
    Layout = "_Layout";
}

<h2>Form to add a new employee</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Add" method="post">
            <div class="form_row">
                <div>
                    <label>
                        First Name
                        <input asp-for="FirstName" type="text">
                    </label>
                    <span asp-validation-for="FirstName"></span>
                </div><br />
                <div>
                    <label>
                        Last Name
                        <input asp-for="LastName" type="text">
                    </label>
                    <span asp-validation-for="LastName"></span>
                </div><br />
                <div>
                    <label>
                        Email
                        <input asp-for="Email" type="text">
                    </label>
                    <span asp-validation-for="Email"></span>
                </div><br />
                <div class="form_row">
                    <label asp-for="DepartmentName" >Department</label>
                    <select id="DepartmentName" asp-for="DepartmentName" asp-items="ViewBag.Departments"></select>
                    <span asp-validation-for="DepartmentName"></span>
                </div>
                <div class="form_row">
                    <label asp-for="PositionName">Position</label>
                    <select id="PositionName" asp-for="PositionName" asp-items="ViewBag.Positions"></select>
                    <span asp-validation-for="PositionName"></span>
                </div>
                <br />
                <div class="form_row">
                    <label asp-for="Gender"></label>
                    <select asp-for="@Model.Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                    <span asp-validation-for="Gender"></span>
                </div>
                <br />
                <div>
                    <label asp-for="BirthDate"></label><br />
                    <input asp-for="BirthDate" name="BirthDate" type="date" />
                </div><span asp-validation-for="BirthDate"></span>
                <br />
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            var selectList = $('#PositionName');
            selectList.append($('<option></option>').val('').text('-- Select Position --'));
            $.get('/Employee/GetAllDepartment', function (data){
                console.log(data);
                var departments = data.$values;
                var departmentSelectList = $("#DepartmentName");
                departmentSelectList.empty();
                departmentSelectList.append($('<option></option>').val('').text('-- Select Department --'));
                $.each(departments, function (index, department) {
                    departmentSelectList.append($('<option></option>').val(department.Name).text(department.Name));
                });
            });
           
            $('#DepartmentName').change(function () {
                var departmentName = $(this).val();
                $.get('/Employee/GetPositionsByDepartment?departmentName=' + departmentName, function (data) {
                    var positions = data.$values;
                    selectList.empty();
                    selectList.append($('<option></option>').val('').text('-- Select Position --'));
                    $.each(positions, function (index, position) {
                        selectList.append($('<option></option>').val(position.Name).text(position.Name));
                    });
                });
            });
        });
    </script>
}
