@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HRM.MVC.ViewModels.EditEmployeeViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
}

<h2>Form to edit employee</h2>

@using (Html.BeginForm("Update", "Employee", FormMethod.Post))
{
    <fieldset>
        <p><b>Associate employee Id : </b>@Model.Id</p>
        @Html.HiddenFor(m => m.Id)
        <p><b>Associate position Id : </b>@Model.PositionId</p>
        @Html.HiddenFor(m => m.PositionId)
        <p>
            @Html.LabelFor(m => m.FirstName, "First Name")
            <br/>
            @Html.EditorFor(m => m.FirstName)
        </p>
        <p>
            @Html.LabelFor(m => m.LastName, "Last Name")
            <br/>
            @Html.EditorFor(m => m.LastName)
        </p>
        <p>
            @Html.LabelFor(m => m.Email, "Email")
            <br/>
            @Html.EditorFor(m => m.Email)
        </p>
        
        <div class="form_row">
            <label asp-for="Gender"></label>
            <select asp-for="@Model.Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
        </div>
        <br />
        <div>
            <label asp-for="BirthDate"></label><br/>
            <input asp-for="BirthDate" type="date"/>
        </div>
        <br />
        <p><input type="submit" value="Edit"/></p>
    </fieldset>
}