@model Domain.Entities.Employee

@{
    ViewBag.Title = "Employee info";
    Layout = "_Layout";
}

<h1>@Model.Account.Name @Model.Account.Surname</h1>

<div class="table_section">
    <table style="width: 100%;">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Position Id</th>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Account.Name</td>
            <td>@Model.Account.Surname</td>
            <td>@Model.Account.Email</td>
            <td>@Model.Gender</td>
            <td>@Model.PositionId</td>
        </tr>
    </table>
</div>