@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Domain.Entities.Employee>
@{
    ViewBag.Title = "Employees";
    Layout = "_Layout";
}

<h2>Company employees</h2>
<a asp-action="Add" asp-controller="Employee">Add employee</a>
<div class="table_section">
    @if (@Model.Count == 0)
    {
        <p>There is no any employee yet.</p>
    }
    else
    {
        <table style="width: 100%;">
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>Gender</th>
                <th>Position</th>
            </tr>
            @foreach (var employee in @Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Account.Name</td>
                    <td>@employee.Account.Surname</td>
                    <td>@employee.Account.Email</td>
                    <td>@employee.Account.BirthDate</td>
                    <td>@employee.Gender</td>
                    <td>@employee.Position.Name</td>
                    <td>
                        <a asp-action="GetById" asp-controller="Employee" asp-route-employeeId="@employee.Id">View</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Employee" asp-route-employeeId="@employee.Id">Delete</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Employee" asp-route-employeeId="@employee.Id">Edit</a>
                    </td>
                </tr>
            }
        </table>
    }
</div>
