@model Domain.Entities.Position

@{
    ViewBag.Title = "Position info";
    Layout = "_Layout";
}

<h1>@Model.Name</h1>

<div class="table_section">
    <table style="width: 100%;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Department Id</th>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.DepartmentId</td>
        </tr>
    </table>
</div>