@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Domain.Entities.Position>
@{
    ViewBag.Title = "Positions";
    Layout = "_Layout";
}

<h2>Company positions</h2>
<a asp-action="Add" asp-controller="Position">Add position</a>
<div class="table_section">
    @if (@Model.Count == 0)
    {
        <p>There is no any positions yet.</p>
    }
    else
    {
        <table style="width: 100%;">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Department</th>
            </tr>
            @foreach (var position in @Model)
            {
                <tr>
                    <td>@position.Id</td>
                    <td>@position.Name</td>
                    <td>@position.Department.Name</td>
                    <td>
                        <a asp-action="GetById" asp-controller="Position" asp-route-positionId="@position.Id">View</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Position" asp-route-positionId="@position.Id">Delete</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Position" asp-route-positionId="@position.Id">Edit</a>
                    </td>
                </tr>
            }
        </table>
    }
</div>